<a href="https://colab.research.google.com/github/raviteja9849/fmml2021/blob/main/01_Elementary_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

### Elementary operations

#### Basic Calculator Operations
" addition + ,  subtraction  -  , multiplication  *  , division /  ,  exponent ** , modulus  %  , floor division  // "

In [ ]:
3 + 2         # addition

In [ ]:
3 - 2         # subtraction

In [ ]:
5 * 3         # multiplication

In [ ]:
7 / 2         # division (always returns a float)

In [ ]:
type (7 / 2)

In [ ]:
7 // 2        # floor division (returns an integer - discards decimal part)

In [ ]:
type ( 7 // 2)

In [ ]:
7 % 2         # modulus operator - remainder is fetched after division

In [ ]:
7 ** 2        # exponentiation

In [ ]:
5 - 2 * 2     # operator precedence : (), **, -(unary),  * or /, + or -

In [ ]:
# on string variables
first_name = 'charlie'
second_name = "chaplin"

In [ ]:
first_name + second_name

In [ ]:
first_name + ' ' + second_name

In [ ]:
first_name * 2

In [ ]:
(first_name * 2) + ' ' + (second_name * 3)

### Some exercises...

In [1]:
# 1. A brick has dimensions 5 cm x 4 cm x 2 cm. Find volume.
brick_length = 5
brick_breadth = 4
brick_height = 2

In [2]:
brick_volume = brick_length * brick_breadth * brick_height
print (brick_volume)

40

In [ ]:
# 2. What will the expression -3 ** 2 evaluate to ?

In [5]:
 -3**2     # 2. so, the value of -3**2 will evaluate to the value of -9.

-9

*Exercise (do it yourself) :* A litre of petrol costs Rs 102. Your two wheeler gives a mileage of 38 kms per litre of petrol. How much of a distance can you travel with fuel worth Rs 50.

In [6]:
fuel_price = 102
mileage = 38
cash = 50

In [7]:
distance = (mileage/fuel_price)*cash

In [9]:
print(' The Distance one can trvael is : ' ,round(distance,2))

 The Distance one can trvael is :  18.63

#### References

1. [Python Operators](https://www.w3schools.com/python/python_operators.asp) and [Python Exercises](https://www.w3schools.com/python/exercise.asp)
2. [Official Python Documentation](https://docs.python.org/3/tutorial/introduction.html)